<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        @@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab');
    </style>
    <title>SoftClient - @ViewData["Title"]</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/estiloCliente.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


</head>
<body>
    <nav class="navbar fixed-top bg-light justify-content-between">
        <div class="container-fluid">
            <h2 class="navbar-brand">SoftClient</h2>
            <div id="topo-menu">
                <label>Bem vindo, @ViewData["NomeUsuario"]</label>
                <a asp-page="/index" class="btn" id="btn-sair">Sair</a>
            </div>
        </div>
        <!--Inicio Modal Trocar Senha-->
        <div class="modal fade" id="trocar_senha" tabindex="-1" role="dialog" aria-labelledby="trocar_senha" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title col-md-7" id="trocar_senha">Trocar Senha</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--Inicio do form do modal Trocar Senha-->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Senha Atual:</label>
                            <div class="col-sm-5">
                                <input class="col-sm-5" type="text">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Nova Senha:</label>
                            <div class="col-sm-5">
                                <input class="col-sm-5" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Repetir Nova Senha:</label>
                            <div class="col-sm-5">
                                <input class="col-sm-5" type="text">
                            </div>
                        </div>
                        <!--Fim do form do modal Trocar Senha-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Fim Modal Trocar Senha-->
    </nav>

    @RenderBody()

    <script src="js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>